/*
** global stylesheet
*/

@import 'vars';
@import 'fa/fontawesome';
@import 'utils/colors';
@import 'utils/animations';

//Global body styles
body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    background-color: $bkg-bluegray;
    color: $text-black;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba($bkg-blue, .25);
    color: $text-black;
}

@import 'components/sidebar';
@import 'components/maincontent';