.mf-sidebar {
    background: #2699FB;
    position: relative;
    text-align: center;
    color: white;
    padding: 30px;
}

.mf-maincontent {
    margin: 20px;
    padding: 20px;
    width: 100%;
    background: #F1F9FF;
}

@media (min-width: 768px) {
    .mf-sidebar {
        width: 200px;
        height: 100%;
        position: fixed;
    }

    .mf-maincontent {
        margin-left: 220px;
    }
}