//Color Declarations

$bkg-blue: #4a66e7;
$bkg-bluegray: #DBE0E5;
$header-gray: #F5F5F5;

$bootstrap-blue: #80bdff;

$dark-gray: #666;
$text-black: #333;

$offwhite: #fefefe;

$gradientA: #881fd3;
$gradientB: $bkg-blue;