.mf-sidebar {
    background: $bkg-blue;
    background: -moz-linear-gradient(139deg,$gradientA 0%,$gradientB 100%);
    background: -webkit-linear-gradient(139deg,$gradientA 0%,$gradientB 100%);
    background: linear-gradient(139deg,$gradientA 0%,$gradientB 100%);
    position: relative;
    text-align: center;
    color: white;
    padding: 30px;

    .mf-sidebar-corp-logo {
        max-width: 100%;
        margin-bottom: 11px;
    }

    .mf-sidebar-subtitle {
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

#mf_quick_directory {

    li {
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        a {
            color: white;

            &:hover {
                color: rgba(white, .5);
                text-decoration: none;
            }
        }

        
    }
    
    ul {
        margin: 0;
        padding: 0 0 0 5px;
    }
}

//Responsive Behavior
@media (min-width: #{$mobile-sm-breakpoint + 1}) {
    .mf-sidebar {
        width: 200px;
        height: 100%;
        position: fixed;
    }
}